.home {
    &__main {
        padding: 0px 80px;
        position: relative;
        top: 0px;
        left: 0px;
        z-index: 10;
    }
    &__portfolio {
        padding-top: 100px;
        h3 {
            width: 45%;
            margin: 0px auto;
        }
    }
    &__services {
        position: relative;
        padding-top: 100px;
        h3 {
            width: 48%;
            margin: 0px auto;
        }
    }
    &__service-wrapper {
        margin-top: 100px;
        width: 100%;
        @include createFlex(row, center, center, wrap);
    }
    &__service-content {
        overflow: hidden;
        width: 0px;
        height: 0px;
        position: relative;
        left: 50%;
        top: 0px;
        width: calc(100% + 180px);
        padding: 0px;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        @include createFlex(row, center, flex-start, wrap);
        transform-origin: center 0;
        a {
            width: calc(100% / 4);
            margin: 10px;
            img {
                width: 100%;
            }
        }
    }
    &__service-close {
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 20px;
        span {
            display: block;
            width: 30px;
            border-bottom: 2px solid white;
            transform-origin: 14px 1px;
            &:first-of-type {
                transform: rotate(45deg)
            }
            &:last-of-type {
                transform: rotate(-45deg)
            }
        }
    }
    &__projects {
        h2 {
            margin: 100px 0px;
        }
    }
    &__projects-image-1,
    &__projects-image-2,
    &__projects-image-3 {
        width: 65%;
    }
    &__projects-image-1 {
        position: relative;
        top: 0px;
        left: -40px;
    }
    &__projects-image-2 {
        position: relative;
        top: -250px;
        right: -440px;
    }
    &__projects-image-3 {
        position: relative;
        top: -450px;
        right: -180px;
    }
    &__technology {
        margin-top: -300px;
        h2 {
            width: 40%;
            margin: 0px auto 30px;
        }
        p {
            width: 45%;
            margin: 10px auto;
        }
    }
    &__technology-group {
        width: 100%;
        margin-top: 80px;
        @include createFlex(row, center, center, null);
    }
    &__technology-icon {
        margin: 0px 10px;
        overflow: hidden;
        border-radius: 10px;
        width: 100px;
        height: 100px;
        background-color: white;
        img {
            width: 100%;
        }
    }
    &__clients {
        position: relative;
        right: 0px;
        top: 0px;
        margin-top: 100px;
        padding-bottom: 100px;
        img {
            display: block;
            margin: 50px auto;
        }
    }
    &__clients-carousel-wrapper {
        overflow: hidden;
        width: 50%;
        margin: 0px auto;
        padding: 30px;
        height: 300px;
        border: 2px solid white;
        border-radius: 25px;
        @include createFlex(row, flex-start, center, null);
    }
    &__clients-carousel {
        @include createFlex(row, flex-start, center, null);
        transform: translateX(-20px);
        transition: all 1s ease-in-out;
    }
    &__clients-item {
        height: 250px;
        min-width: 35%;
        margin: 0px 100px;
        position: relative;
        top: 0px;
        left: 0px;
        @include createFlex(row, center, center, null);
        img:first-of-type {
            position: absolute;
            left: -75px;
            top: -25px;
        }
        img:last-of-type {
            position: absolute;
            right: -60px;
            bottom: -10px;
        }
    }
    &__contact-btn {
        cursor: pointer;
        font-family: $roboto-font;
        position: absolute;
        right: 100px;
        bottom: 0px;
        padding: 15px 50px;
        color: white;
        border: 2px solid white;
        border-radius: 25px;
        background: transparent;
    }
    &__form {
        width: 0%;
        height: 0px;
        margin: 50px auto;
        border: 0px;
        border-radius: 25px;
        transform-origin: center 0;
        overflow: hidden;
        @include createFlex(column, center, center, null);
        h3 {
            margin: 30px 0px;
        }
    }
    &__form-close {
        cursor: pointer;
        position: relative;
        right: -40%;
        top: 0px;
        span {
            display: block;
            width: 30px;
            border: 2px solid white;
            transform-origin: 15px 2px;
            &:first-of-type {
                transform: rotate(45deg)
            }
            &:last-of-type {
                transform: rotate(-45deg)
            }
        }
    }
    &__error {
        margin: 20px 0px;
        font-family: $roboto-font;
        width: 80%;
        color: red;
        border-bottom: 2px solid red;
    }
    &__field {
        margin: 10px 0px;
        width: 80%;
        position: relative;
        top: 0px;
        left: 0px;
        border-bottom: 1px solid white;
        &:hover {
            border-bottom: 1px solid blue;
        }
        &:before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -1px;
            width: 0%;
            transform-origin: center;
            transition: all 0.5s ease-in-out;
            border-bottom: 2px solid greenyellow;
            transform: translateX(-50%)
        }
        &.active {
            &:before {
                width: 100%;
            }
        }
        label {
            font-family: $roboto-font;
            color: white;
        }
        input,
        textarea {
            margin-top: 5px;
            font-family: $roboto-font;
            min-height: 30px;
            width: 100%;
            background: transparent;
            color: white;
            border: 0px;
            &:active,
            &:focus {
                outline: none;
                border: 0px;
            }
        }
    }
    &__submit-btn {
        cursor: pointer;
        margin-top: 20px;
        font-family: $roboto-font;
        padding: 15px 50px;
        width: 80%;
        color: white;
        border: 2px solid white;
        background: transparent;
        &:hover {
            border: 2px solid greenyellow;
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}